:root {
    --bg-color: #f2ecf1;
    --heart-color: #ff2d55;
    --dot-color: rgba(255, 45, 85, 0.2);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img {
    width: 400vw;
}

.point {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--dot-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    filter: brightness(0.8) sepia(0.2) contrast(1.1) saturate(0.5);
}

.square {
    position: absolute;
    background-color: white;
    border: 17px solid white;
    border-bottom-width: 50px;
    object-fit: cover;
    display: block;
    z-index: 3; /* Фото выше тени */
}

.shadow {
    position: absolute;
    background-color: black;
    border: 17px solid black;
    border-bottom-width: 50px;
    filter: blur(80px);
    z-index: 2; /* Тень ниже фото */
}

.instructions {
    position: fixed;
    bottom: 30px;
    color: rgb(0, 0, 0);
    opacity: 0.6;
    text-align: center;
    width: 100%;
    pointer-events: none;
}